.wrapper {
    display: grid;
    margin: auto;
    height: 7vh;
    max-width: 600px;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
}

.mat-stroked-button{
    margin: 20px;
}